<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Sarafan</title>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
        let messages = [# th:utext="${messages}" /];
    </script>
</head>
<body>
<!--<h1>Всем привет!!!!</h1>
<h5>learn.javascript.ru - Do not Forget!</h5>-->
<div id="app">
<!--    {{messages}}-->
</div>

<h1>Х У Й</h1>

<!--<script src="/js/main.js"></script>-->
<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>
</body>
</html>