<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sarafan</title>
    <!-- версия для разработки, включает отображение полезных предупреждений в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>
<h1>Всем привет!!!!</h1>
<h5>learn.javascript.ru - Do not Forget!</h5>
<div id="app">{{messages}}</div>
<hr>
<div id="learn1">{{insertion}}</div>
<hr>
<div id="app2">
    <span :title="newInsert">
          Наведи на меня курсор на пару секунд,
    чтобы увидеть динамически связанное значение title!
    </span>
</div>

<div id="app4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<hr>
<div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">Reverse Text</button>
</div>
<hr>
<div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
    <button v-on:click="clatz">Clatz</button>
</div>
<hr>
<hr>

<script>
    var learn1=new Vue({
        el: '#learn1',
        data:{
            insertion: 'Heyyy There!'
        }
    });

    var learn2=new Vue({
        el: '#app2',
        data:{
            newInsert: 'Вы загрузили эту страницу за ' + new Date().toLocaleString()
        }
    })

    var app4=new Vue({
        el:'#app4',
        data:{
            todos: [
                {text: 'First'},
                {text: 'Second'},
                {text: 'Third'},
                {text: 'Fourth'},
            ]
        }
    })

    var app5=new Vue({
        el:'#app5',
        data:{
            message: 'Hello here!'
        },
        methods:{
            reverseMessage: function(){
                this.message = this.message.split('').reverse().join('')
            }
        }
    })

    var app6=new Vue({
        el:'#app6',
        data:{
            message: 'Sei Gesund!'
        },
        methods:{
            clatz: function(){
                alert(app6.data.message.reverse)
            }
        }
    })

</script>
<script src="/js/main.js"></script>
</body>
</html>